
body{
    height: 100vh;
    overflow-y: hidden;
}
h1, h2, h3, h4{
    color: #fd5523;
    font-family: 'Montserrat', sans-serif;
}
p,a {
color: #37966f;
font-family: 'Lekton', sans-serif;
}
nav a{
    font-size: 1em;
}
a:focus{
    outline: 0;
}
.fixed_wraper_top,
.fixed_wraper_center,
.fixed_wraper_bottom{
 position: fixed;
 left:0;
 right: 0;
}
.fixed_wraper_top{
    top: 0;
    height: 30%;
    background: #37966f;
}
.fixed_wraper_center{
    top:30%;
    bottom: 95%;
    height: 75%;
    background: #fffbe6;
}
.fixed_wraper_bottom{
    top:95%;
    height: 5%;
    background: #37966f;
}
.main_container{
    position: relative;
    overflow-x: hidden;
    margin: 0 auto;
    max-width: 1000px;
    min-width: 600px;
    width: 100%;
    top: 10%;
    height: 87.5vh;
    background: #fffbe6;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
}
.main_container h1{
    text-align: center;
    margin: 0 auto;
    padding: 20px;
} 
.main_container  ul{
    list-style-type: none;
} 
.main_container nav{
    text-align: center;
    border-bottom: 2px dashed #37966f;
}
.main_container li{
    padding: 20px 40px;
    display: inline-block;
}
.main_container nav a{
	position:relative;
}
nav a:before{
	content: ' ';
    border: 5px solid #fd5523;
    border-radius: 5px;
    display: block;
    position: absolute;
    top:calc((100% - 10px) / 2);
    left: 15px;
    box-shadow: 0 0 5px black;
	visibility: hidden;
}
.select:before{
	content: ' ';
    border: 5px solid #fd5523;
    border-radius: 5px;
    display: block;
    position: absolute;
    top: calc((100% - 10px) / 2);
    left: 15px;
    box-shadow: 0 0 5px black;
	visibility: visible;
}

#i:target ~ #slider{
    left: 0;
}
#i:target ~ nav a[href="#i"]:before{
	visibility: visible;
}
#Learn:target ~ nav a[href="#i"]:before,
#Read:target ~ nav a[href="#i"]:before,
#Watch:target ~ nav a[href="#i"]:before{
	visibility: hidden;
}
#Learn:target ~ #slider{
    left: -100%;
}
#Learn:target ~ nav a[href="#Learn"]:before{
	visibility: visible;
}
#Read:target ~ #slider{
    left: -200%;
}
#Read:target ~ nav a[href="#Read"]:before{
	visibility: visible;
}
#Watch:target ~ #slider{
    left: -300%;
}
#Watch:target ~ nav a[href="#Watch"]:before{
	visibility: visible;
}
#slider{
    position: relative;
    top: 2%;
    left: 0;
    width: 400%;
    transition: .6s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
#slider .slider_content{
    margin: 0 2.5%;
    padding: 0;
    width: 20%;
    float: left;
}
.myself{
    position: relative;
}
.myself .myself_img_cont{
    position: absolute;
    left: 0;
    top: 45px;
}
.myself .myself_img_cont .myself_img{
    background-image: url(../img/myself.jpg);
    width: 100px;
    height: 100px;
    border-radius: 50px;
    box-shadow: 0 0 0 2px white, 0 0 0 4px #37966f;
    background-size: 200px 200px;
    background-position: -62px -28px;
}
.myself .myself_post{
    position: relative;
    top:0;
    left: 120px;
    padding-left: 20px;
    border-left: 2px solid #fd5523;
    max-width: 600px;
    width: 100%;
}
.myself #contacts{
    position: absolute;
    bottom: -35vh;
    
}
.myself #contacts a{
    padding: 0 10px;
}
.education .education_wraper{
    text-align: center;
    margin: 5% auto;
}

.education .education_wraper div{
 width: 50%;
 float: left;
}
.education .education_wraper div h3{
margin: 5px 0;
}
.education {
    height: 100%;
}
.education .education_wraper div p{
    vertical-align: center;
    height: 50px;
}
.read section article,  .watch  section article{
    margin: 2%;
    padding: 5px;
    border-left: 2px solid #fd5523;
}
.read footer{
    position: relative;
    bottom:0;
}
#tooltip{
    display: none;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    p,a,nav a{
        font-size: 2.4em;
    }
    .myself #contacts{
        position: absolute;
        bottom: -20vh;
    }
    h1{
        font-size: 5em;
    }
    h2{
        font-size: 4em;
    }
    h3{
        font-size: 3em;
    }
    .education .education_wraper div p{
        vertical-align: center;
        height: 150px;
    }
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    p,a nav a{
        font-size: 1.2em;
    }
    .myself #contacts{
        position: absolute;
        bottom: -20vh;
    }
    h1{
        font-size: 3em;
    }
    h2{
        font-size: 2em;
    }
    h3{
        font-size: 1.8em;
    }
    .education .education_wraper div p{
        vertical-align: center;
        height: 150px;
    }
}
